[Unit]
Description=Bot para monitorear clientes en la red Wireless

Wants=network.target
After=network.target

[Service]
ExecStart=/bin/bash /home/pi/Scripts/logMonitor/monitor.sh
Restart=on-failure
RestartSec=10
SyslogIdentifier=Janos-Orchestrator-monitor-clients
User=pi

[Install]
WantedBy=multi-user.target