[Unit]
Description=Monitor DHCPAKCS

Wants=network.target
After=network.target

[Service]
Environment="SNORT_CONFIG=/home/pi/Production/Janos-Orchestrator/src/config/config.ini"
Environment="ORCHESTRATOR_DB=/home/pi/Production/Janos-Orchestrator/src/server/db/orchestrator.sqlite"
ExecStart=/home/pi/Production/Janos-Orchestrator/venv/bin/python3 /home/pi/Production/Janos-Orchestrator/src/server/app.py
Restart=on-failure
RestartSec=10
SyslogIdentifier=Janos-Orchestrator-server
User=pi

[Install]
WantedBy=multi-user.target